@import "https://unpkg.com/open-props";

:root {
    --accent-clr: #80c0ca;
    --sandy-accent-color: #f2e8e1;
    --main-font-clr-gray: #707070;

    --main-font: "ivypresto-display", serif;
    --cormorant-font: 'Cormorant Garamond', serif;
    --fun-font: 'IM Fell DW Pica', serif;
    --subtext-font: 'Kristi', cursive;
    --secondary-fun-font: 'IM Fell English SC', serif;
    --line_color: #555555 ;
    --back_color: white  ;
}

body {
    min-height: 100vh;
    font-weight: 300;
    border: none;
    overflow-x: hidden;
    margin: 0;
    display: table;
}

/* header styles */
header {
    box-shadow: rgba(0,0,0,.08) 0 3px 15px;
    width: 100vw;
    height: 190px;
    margin-bottom: 160px;
}

.navbar {
    max-width: 1800px;
    margin: auto;
}

.split {
    display: flex;
    justify-content: space-between;
}

.navbar-menu-items {
    margin: 60px 50px 0 0;
}

.is-active {
    color: var(--accent-clr);
}

.is-active hr {
    margin-top: 0px;
    height: .2px;
    border: none;
    display: block;
    background-color: var(--accent-clr);
}

.inactive {
    color: black;
}

.inactive hr {
    display: none;
}

.navbar-menu-items ul {
    display: flex;
    flex-direction: row;
}

.navbar-menu-items ul li {
    margin: 0 15px 0 15px; 
    list-style: none;
}

.navbar-menu-items ul li a {
    text-decoration: none;
    font-size: 23px;
    font-family: var(--cormorant-font);
    text-transform: uppercase;
}

.navbar-logo img {
    margin-top: -178px;
}

/* home page styles */

.home-page {
    /* max-width: 1500px;
    margin: auto;  */
}

.home-about-section {
    max-width: 1450px;
    margin: auto;
}

.home-about-section img {
    width: 500px;
    margin: -50px 0 0 70px;
    z-index: 0;
    position: relative;
    border-radius: 10px;
}

.home-about-paragraph p:nth-child(1) {
    max-width: 550px;
    font-family: var(--cormorant-font);
    font-size: 60px;
    font-weight: 100;
    font-style: normal;
    color: var(--main-font-clr-gray);
    position: relative;
    text-align: center;
    margin-bottom: -35px;
    font-weight: 400;
}

.home-about-paragraph p:nth-child(1):before {
    content: "";
    display: block;
    width: 100px;
    height: 3px;
    background: #d6d5d5;
    left: 0;
    top: 50%;
    position: absolute;
}

.home-about-paragraph p:nth-child(2) {
    color: var(--accent-clr);
    font-size: 40px;
    font-style: italic;
}

.home-about-paragraph {
    width: 700px;
    font-family: var(--cormorant-font);
    font-weight: 100;
    font-size: 26px;
    margin-top: 65px;
    margin-right: 50px;
    text-align: justify;
    color: var(--main-font-clr-gray);
    position: relative;
}

.home-about-paragraph div {
    text-align: center;
}

.home-about-paragraph div button {
    margin-top: 20px;
    border: 2px solid var(--accent-clr);
    font-size: 30px;
    font-family: var(--cormorant-font);
    padding: 5px 20px 5px 20px;
    background-color: white;
    color: var(--main-font-clr-gray);
}

.home-about-paragraph div button:hover {
    background-color: var(--accent-clr);
    color: white;
    cursor: pointer;
}

.home-reference-section {
    background-color: var(--sandy-accent-color);
    width: 100vw;
    padding: 50px 0 50px 0;
    margin: 130px 0 130px 0;
}

.quote {
    max-width: 1000px;
    margin: auto;
}

.home-reference-section blockquote {
    color: var(--main-font-clr-gray);
    font-family: Georgia, serif;
    font-size: 1.3em;
    font-style: italic;
    line-height: 1.4;
    margin: 0;
    position: relative;
    text-shadow: 0 1px white;
    text-align: justify;
}

.home-reference-section blockquote p:first-child:before {
    content: '\201C';
    color: var(--accent-clr);
    font-size: 7.5em;
    font-weight: 700;
    opacity: .4;
    position: absolute;
    top: -.4em;
    left: -.3em;    
    text-shadow: none;
    z-index: 400;
}

.home-reference-section cite {
    color: gray;
    display: block;
    font-size: 1em; 
}
  
.home-reference-section cite span {
    color: #5e5e5e;
    font-size: 1.1em;
    font-style: normal;
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: uppercase;
    text-shadow: 0 1px white; 
}

.more-references {
    text-align: center;
    margin-top: 40px;
    color: var(--main-font-clr-gray);
}

.more-references p {
    margin-top: 0px;
    text-transform: uppercase;
}

.more-references p:hover {
    cursor: pointer;
    color: var(--accent-clr);
}

.photo-section {
    margin: 100px 0 0 0;
}

#pics {
    display: flex;
    justify-content: center;
    margin: 100px 0px 50px 0;
    margin-top: 100px;
}


#pics div img {
    width: 500px;
    height: 750px;
    padding: 0 10px 0 10px;
    position: relative;
}

.home-photo-container {
    position: relative;
    text-align: center;
}

.overlay {
    background-color: #00000000;
    width: 96.23%;
    height: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.overlay:hover {
    background-color: #00000057;
    cursor: pointer;
}

#photo-text {
    color: rgb(240, 240, 240);
    font-weight: 400;
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: var(--cormorant-font);
    font-size: 50px;
}

#photo-subtext {
    color: rgb(240, 240, 240);
    font-weight: 200;
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: var(--fun-font);
    font-size: 22px;
    width: 350px;
    visibility: hidden;
}

.overlay:hover #photo-subtext {
    visibility: visible;
}

#home-verse {
    max-width: 1500px;
    margin: auto;
    text-align: center;
}

#home-verse img {
    width: 1200px;
    margin: 50px 0 -150px 0;
}

/* references page  */
.back-img {
    background-image: url('./Data/References/mountains-landscape.jpg');
    min-height: 100%;
    height: 550px;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: 100%;
}

.all-references {
    padding: 50px 0 50px 0;
    margin: 130px 0 130px 0;
}

.all-references:nth-child(odd) {
    background-color: var(--sandy-accent-color);
    text-align: right;
}

.all-references blockquote {
    color: var(--main-font-clr-gray);
    font-family: Georgia, serif;
    font-size: 1.3em;
    font-style: italic;
    line-height: 1.4;
    margin: 0;
    position: relative;
    text-shadow: 0 1px white;
}

.all-references blockquote p:first-child:before {
    content: '\201C';
    color: var(--accent-clr);
    font-size: 7.5em;
    font-weight: 700;
    opacity: .4;
    position: absolute;
    top: -.4em;
    left: -.3em;    
    text-shadow: none;
    z-index: 400;
}

.all-references cite {
    color: gray;
    display: block;
    font-size: 1em; 
}
  
.all-references cite span {
    color: #5e5e5e;
    font-size: 1.1em;
    font-style: normal;
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: uppercase;
    text-shadow: 0 1px white; 
}

/* .all-references:nth-child(even) .quote {
    margin-left: 20px; 
}

.all-references:nth-child(odd) .quote {
    margin-left: 500px;
} */

/* media page */

#media-container {
    max-width: 1500px;
    margin: auto;
}

.media-split {
    display: flex;
    justify-content: center;
}

.media-split div {
    padding: 0 20px 80px 20px;
    width: 700px;
}

.media-split p {
    text-align: center;
    font-family: var(--cormorant-font);
    font-size: 35px;
}

/* footer styles */

.footer-container {
    max-width: 1500px;
    margin: auto;
    text-align: center;
    font-family: var(--cormorant-font);
    font-size: 24px;
}

.footer-container img {
    margin-bottom: -160px;
}

hr {
    border: 1px solid var(--accent-clr);
}

.footer-container a {
    color: var(--accent-clr);
    text-decoration: none;
}

/* about styles */

.about-section {
    max-width: 1500px;
    margin: auto;
}

.about-container {
    display: flex;
}

.about-container p {
    font-family: var(--cormorant-font);
    font-size: 23px;
    margin-top: 30px;
}

/* faq page  */

.genesis-picture-container {
    text-align: center;
}

.genesis-picture-container img {
    margin-top: -50px;
    width: 1200px;
}

.faq-container {
    max-width: 1500px;
    margin: auto;
}

#faq-title-container p {
    font-size: 39px;
    font-family: var(--cormorant-font);
    font-weight: 400;
    width: 1450px;
}

#faq-title-container {
    width: 1500px;
    margin: auto;
    margin: 0 25px 0 25px;
}

.accordian {
    box-shadow: 0 2px 48px 0 rgba(0, 0, 0, 0.06);
    width: 1450px;
    margin: auto;
    margin: 0 25px 0 25px;
}

.faq-item {
    border-bottom: 1px dashed #CEE1F8;
    padding: 2px 20px;
}

.faq-item:nth-child(3) {
    border: none;
}

.faq-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    background-color: white;
    z-index: 500;
    font-family: var(--cormorant-font);
    font-size: 20px;
    color: var(--accent-clr);
    cursor: pointer;
}

.faq-title-selected {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    background-color: white;
    z-index: 500;
    font-family: var(--cormorant-font);
    font-size: 20px;
    color: var(--accent-clr);
    cursor: pointer;
}

.plus-minus {
    color: var(--accent-clr);
    font-size: 30px;
    font-weight: 700;
    font-family: var(--main-font);
}

.faq-content-hide {
    position: relative;
    z-index: 0;
    max-height: 0;
    padding: 5px 5px 5px 15px;
    overflow: hidden;
    transition: all 0.5s cubic-bezier(0,1,0,1);
    font-family: var(--cormorant-font);
    font-size: 25px;
    color: var(--main-font-clr-gray);
}

.faq-content-show {
    overflow: hidden;
    position: relative;
    z-index: 0;
    height: auto;
    max-height: 9999px;
    border-radius: 10px;
    padding: 5px 5px 5px 15px;
    transition: all 0.5s cubic-bezier(1,0,1,0);
    font-family: var(--cormorant-font);
    font-size: 25px;
    color: var(--main-font-clr-gray);
}

.statement-of-faith {
    margin: 0 25px 0 25px;
    box-shadow: 0 2px 48px 0 rgba(0, 0, 0, 0.06);
    padding: 60px;
}

.statement-title {
    margin: 0 25px 30px 25px;
    font-size: 42px;
    font-family: var(--cormorant-font);
    font-weight: 400;
    margin-top: 100px;
}

.statement-of-faith h2:nth-child(1) {
    margin-top: 0;
}

.statement-of-faith h2 {
    font-size: 30px;
    font-family: var(--cormorant-font);
    font-weight: 700;
    margin-top: 100px;
    color: var(--accent-clr);
}

.statement-of-faith p {
    font-size: 23px;
    font-family: var(--cormorant-font);
    font-weight: 400;
    color: var(--main-font-clr-gray);
    padding-left: 20px;
}

.statement-of-faith b {
    font-weight: 500;
    color: black;
}

label {
    text-transform: uppercase;
    font-family: var(--cormorant-font);
    font-size: 20px;
}

form { max-width:500px; margin:50px auto; }

.form-input {
    color:var(--main-font-clr-gray);
    font-family: var(--cormorant-font);
    font-weight:500;
    font-size: 18px;
    border-radius: 5px;
    line-height: 22px;
    background-color: transparent;
    border: 3px solid #99dbe5;
    transition: all 0.3s;
    padding: 13px;
    margin-bottom: 15px;
    width:100%;
    box-sizing: border-box;
    outline:0;
  }

  .form-input:focus { border:3px solid var(--accent-clr); }

textarea {
  height: 150px;
  line-height: 150%;
  resize:vertical;
}

[type="submit"] {
  font-family: var(--cormorant-font);
  width: 100%;
  background:#99dbe5;
  border-radius:5px;
  border:0;
  cursor:pointer;
  color:white;
  font-size:28px;
  padding-top:10px;
  padding-bottom:10px;
  transition: all 0.3s;
  margin-top:-4px;
  font-weight:700;
}
[type="submit"]:hover { background:var(--accent-clr); }
